<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>cssmoban</title>
  <!-- Bootstrap Styles-->
  <link href="__PUBLIC__/assets/css/bootstrap.css" rel="stylesheet"/>
  <!-- FontAwesome Styles-->
  <link href="__PUBLIC__/assets/css/font-awesome.css" rel="stylesheet"/>
  <!-- Morris Chart Styles-->

  <!-- Custom Styles-->
  <link href="__PUBLIC__/assets/css/custom-styles.css" rel="stylesheet"/>
  <!-- Google Fonts-->
  <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'/>
  <!-- TABLE STYLES-->
  <link href="__PUBLIC__/assets/js/dataTables/dataTables.bootstrap.css" rel="stylesheet"/>
</head>